In [1]:
#1.List Sorting
#Sort the given list in descending order using a built-in method.
#numbers = [5, 2, 9, 1, 7, 3]

x= [5,2,9,1,7,3]
x.sort(reverse=True)
x

[9, 7, 5, 3, 2, 1]

In [2]:
#2.List Filtering
#Filter the odd numbers from the given list using a built-in method.
#numbers = [10, 15, 20, 25, 30, 35, 40]
#expected result :[15, 25, 35]

x = [10,15,20,25,30,35,40]
odd =[]
for i in x :
         if i%2==1 :
             odd.append(i)
          
print(odd)

[15, 25, 35]

In [3]:
#3: Dictionary Manipulation
#Create a dictionary to store student names and their grades. 
#Implement the following functionalities:Add a new student.Remove a student.
#Update a student's grade.Display all students and their grades.dict = {"Student":["Ameera","Arathy","Neethu","Mahesh"],"Grade":["A","B","A","C"]}

dict= {'Student': ['Ameera', 'Arathy', 'Neethu', 'Mahesh'],
 'Grade': ['A', 'B', 'A', 'C']}
import pandas as pd
pd.DataFrame(dict)

  Student Grade
0  Ameera     A
1  Arathy     B
2  Neethu     A
3  Mahesh     C

In [4]:
dict["Student"].append("Sneha")
dict["Grade"].append("B")

In [5]:
pd.DataFrame(dict)

  Student Grade
0  Ameera     A
1  Arathy     B
2  Neethu     A
3  Mahesh     C
4   Sneha     B

In [6]:
#Deleting mahesh from dict

index1 = dict["Student"].index("Mahesh")
del dict["Student"][index1]
del dict["Grade"][index1]

In [7]:
pd.DataFrame(dict)

  Student Grade
0  Ameera     A
1  Arathy     B
2  Neethu     A
3   Sneha     B

In [8]:
#updating Sneha"s Grade
dict.update({"Grade":["A","B","A","C"]})

In [9]:
pd.DataFrame(dict)

  Student Grade
0  Ameera     A
1  Arathy     B
2  Neethu     A
3   Sneha     C

In [10]:
# 4: Set OperationsGiven two sets, find the union, intersection, and difference.
#set1 = {1, 2, 3, 4, 5}
#set2 = {4, 5, 6, 7, 8}
#Expected Output:Union: {1, 2, 3, 4, 5, 6, 7, 8}
#Intersection: {4, 5}
#Difference (set1 - set2): {1, 2, 3}

set1 = {1,2,3,4,5}
set2 ={4,5,6,7,8}

In [11]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
set1.intersection(set2)

{4, 5}

In [13]:
set1.difference(set2)

{1, 2, 3}

In [14]:
#5: String Frequency CounterWrite a program that counts the frequency of each character in a given string.
#input_string = "hello world"
#h:1
#e:1
#l:3 etc


def freq_count(x):
    freq = {}
    for i in x:
        if i in freq:
            freq[i] += 1
        else:
            freq[i] = 1 
    
    return freq

x = input("Enter a string: ")
print("Frequency of each character:\n", freq_count(x))

Enter a string:  ameerabanu

Frequency of each character:
 {'a': 3, 'm': 1, 'e': 2, 'r': 1, 'b': 1, 'n': 1, 'u': 1}